.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text1-1;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;

  &:visited,
  &:link {
    color: $color-text1-1;
  }

  img {
    height: 24px;
    margin-right: 10px;
  }

  .title {
    font-size: 18px;
  }
}

.userInfo {
  font-size: 14px;
  right: 5%;
  position: absolute;
}

.logout {
  font-size: 12px;
  margin-left: 20px;
}
